@import url('file:///home/pst/.cache/wal/colors.css');

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

/* hides the native tabs */
#TabsToolbar {
  visibility: collapse;
}

.urlbar-history-dropmarker,#pageActionButton,.pocket-button,#star-button,.urlbar-icon,#identity-box {
 visibility: collapse;
}

#navigator-toolbox > toolbar:not(#TabsToolbar):not(#toolbar-menubar), .browserContainer > findbar, #browser-bottombox {
  background-color: var(--color0) !important;
}

#navigator-toolbox::after {
    border-bottom: 0px !important;
}

/*
#navigator-toolbox {
  background-color: var(--color0) !important;;
}
*/

#urlbar{
 font-align: center !important;
 color: var(--color7) !important;
 background-color: transparent !important;
 border: none !important;
 box-shadow: none !important;
 margin: 0 !important;
}