@import url('file:///home/pst/.cache/wal/colors.css');

/*@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");*/

/* Hide toolbar spacers */
#titlebar .titlebar-spacer {
    display: none !important;
}

/* Use the variables */
#nav-bar {
  color: var(--color7) !important;
}

toolbar#TabsToolbar{
	-moz-appearance: none !important;
	background-color: var(--color0)  !important;
}

/* tab separators */
.tabbrowser-tab::after{
  display: none !important;
}

#TabsToolbar {
  --tab-min-height: 32px;
}

.tab-background {
  margin: 3px;
  border-radius: 3px;
  transition: 0.2s;
  border-top-style: none !important;
}

.tab-content {
  padding: 8px 12px;
}

#nav-bar { 
  -moz-box-ordinal-group: 1 !important;
}

#titlebar { 
  -moz-box-ordinal-group: 3 !important;
}

/* remove blue line above tabs */
.tab-line {display : none !important;}

/* URL */

/* border */
#urlbar-background { border: none !important; }

/* icons */
#tracking-protection-icon-container,
#identity-box,
#page-action-buttons { display: none; }

.urlbar-input-box {
  padding: 0 8px;
}

/* centered text on url bar */
#urlbar-input {
	text-align: center !important;
}

#urlbar-input:focus {
	text-align: left !important;
}

.toolbarbutton-1 {
  display: none;
}

/* hide right url bar icons */

/* autohide url bar */
#navigator-toolbox:not(:focus-within):not(:hover) {
  margin-top: -32px;
}
#navigator-toolbox:hover:not(:focus-within)
{
  margin-top: -32px;
}
#navigator-toolbox {
  transition: 0.2s margin-top ease-out;
}
