@import url('file:///home/pst/.cache/wal/colors.css');
/*
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");*/

toolbar#TabsToolbar{
	-moz-appearance: none !important;
	background-color: #1a1a1a !important;
}

/* hides the native tabs */
#TabsToolbar {
/*** TABS TOOLBAR ***/
  background: transparent !important;
  margin-bottom: 0 !important;
}

#TabsToolbar .tabbrowser-tab[selected]{
  /*visibility: collapse;*/
  background: var(--color0) !important;
  color: var(--color7) !important;
}


         #TabsToolbar .tabbrowser-tab {
            background: #1a1a1a !important;
            background-clip: padding-box !important;
            color: #b6b6b6 !important;
            padding: 0px 0px !important;
            transition: all 0.3s ease-in-out;
            margin-left: 0px !important;
        }
        #TabsToolbar .tabbrowser-tab:after,
        #TabsToolbar .tabbrowser-tab:before,
        #TabsToolbar .tab-background {
            display: none !important;
        }

.tab-line[selected="true"] {
 /*background-color : red; /* this sets the color of the line above the tab */
 visibility: collapse;
}


.urlbar-history-dropmarker,#pageActionButton,.pocket-button,#star-button,.urlbar-icon,#identity-box {
  visibility: collapse;
}

#navigator-toolbox > toolbar:not(#TabsToolbar):not(#toolbar-menubar), .browserContainer > findbar, #browser-bottombox {
  background-color: var(--color0) !important;
}

#navigator-toolbox::after {
    border-bottom: 0px !important;
}

/*
#navigator-toolbox {
  background-color: var(--color0) !important;;
}
*/

#urlbar{
 font-align: center !important;
 color: var(--color7) !important;
 background-color: transparent !important;
 border: none !important;
 box-shadow: none !important;
 margin: 0 !important;
}

@-moz-document url(chrome://browser/content/browser.xul) {
#fullscreen-warning {
  display: none !important;
}
